@font-face {
    font-family: "Transforma Script";
    src:
        local("Transforma Script Regular"),
        local("Transforma Script-Regular"),
        url("../fonts/TransformaScript_Trial-Regular.woff2") format("woff2"),
        url("../fonts/TransformaScript_Trial-Regular.woff") format("woff"),
        url("../fonts/TransformaScript_Trial-Regular.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light-pink: #FC9DCB;
    --color-pink: #C4077A;
    --color-white: white;
    --color-light-grey: #E1E1E1;
    --color-grey: #7E7E7E;
    --color-light-yellow: #F8F6F0;
}
body {
    display: flex;
    align-items: center;
    background-color: var(--color-light-pink);
    font-family: 'Transforma Script', sans-serif;
    padding: clamp(2rem, 0.5rem + 2.22vw, 3.75rem);
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--color-light-yellow);
    border-radius: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: clamp(2rem, 0.5rem + 2.22vw, 3.75rem);
    padding-top: clamp(2rem, 0.5rem + 2.22vw, 3.75rem);
    padding-left: 24px;
    padding-right: 24px;
}

.wrapper>img:first-child {
    width: clamp(33.81rem, 1rem + 36.38vw, 38.75rem);
    margin-bottom: clamp(2rem, 1rem + 1.66vw, 3rem);
}

.wrapper>img:nth-child(2), .wrapper>img:nth-child(3) {
    position: absolute;
    width: clamp(11.25rem, 1rem + 15vw, 18.75rem);
}

.wrapper>img:nth-child(2) {
    left: 7%;
    top: 50%;
    transform: rotate(-25.11deg);
}

.wrapper>img:nth-child(3) {
    left: 78%;
    top: 10%;
    transform: rotate(25.11deg);
}

h1 {
    font-size: clamp(1.5rem, 0.5rem + 3.88vw, 5rem);
    color: var(--color-light-pink);
    margin-bottom: clamp(1.5rem, 1rem + 3.33vw, 3rem);
}

span {
    color: var(--color-pink);
}

button {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: clamp(1.5rem, 0.5rem + 2.22vw, 4rem);
    padding-top: clamp(0.625rem, 0.25rem + 0.83vw, 1.5rem);
    padding-bottom: clamp(0.625rem, 0.25rem + 0.83vw, 1.5rem);
    padding-left: clamp(2rem, 1rem + 6.11vw, 7.25rem);
    padding-right: clamp(2rem, 1rem + 6.11vw, 7.25rem);
    border-radius: 100vw;

}

.buttons>a>button {
    background-color: var(--color-pink);
    color: var(--color-white);
    
}

.buttons>button:last-child {
    background-color: var(--color-light-grey);
    color: var(--color-grey);
}

.buttons {
    display: flex;
    gap: clamp(1rem, 0.5rem + 2.22vw, 3rem);
    justify-content: center;
}

@media (max-width: 880px) {
    .wrapper>img:nth-child(2) {
        left: 10%;
        top: 55%;
    }

    .wrapper>img:nth-child(3) {
        left: 70%;
        top: 55%;
    }

}

@media (max-width: 668px) {
    .wrapper>img:nth-child(2) {
        display: none;
    }

    .wrapper>img:nth-child(3) {
        display: none;
    }
}

@media (max-width: 630px) {
    .wrapper>img:first-child {
        width: clamp(15rem, 1rem + 81.58vw, 38.75rem);
    }
}